* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  color: #f1f1f1;
}

html, body {
  background-color: #000000; 
  /* #0C1721*/
}

body {
  background-image: url('./assets/logo.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 400px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 70px;
  width: 100%;
  height: 100vh;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  margin: 0;
  flex-direction: column;
  padding-left: 0;
}

.container h1 {
  font-size: 14px;
  font-weight: 400;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.footer h1 {
  font-size: 15px;
  font-weight: 400;
}

.footer img {
  width: 30px;
  margin-bottom: 10px;
}

.button img, svg {
  width: 40px;
  height: 40px;
}

.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 20px 3px;

  color: white;
  text-decoration: none;

  width: 200px;
  height: 40px;
}

